#imgContainer{
    margin: auto; /*centers everything*/
}

.gallery {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 500px;
}

.gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Initially hide images */
    transition: opacity 1.5s ease-in-out; /* transition for smooth animation */
}

.gallery img.active {
    opacity: 1; /* Show active image */
}
