body{
  background-color: black;
  padding: 20px;
}
  
#allTogether{
  background: hsla(212, 100%, 3%, 0.128);
  margin: auto;
  border: 5px;
  border-style: double;
  border-color: blueviolet;
  width: 600px;
  height: 700px;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(10px);
  object-fit: cover;
  background-color: black; /* Fallback color in case the video doesn't load */
}

#background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-------------------------------IMAGES-------------------------------*/
.slider{
position: relative; /* the elements will move relative to their normal positioning*/
width: 100%;
margin: auto; /* to center everything horizontally */
overflow: hidden; /* just in case the images are too big */
height: 500px; /* Fixed height for the container */
background-color: hsla(212, 100%, 3%, 0.128); /* Placeholder background color while images load */
}

.slider img{
width: 100;
display: none; /* prevents didsplaying all the imgs right away*/
}

img.displaySlide{
display: block;
animation-name: fade;
animation-duration: 1.5s;
}

#gallery{
margin: auto; /* centers all the imgs*/
}

.slide{
width: 400px;
height: 500px;
}

@keyframes fade {
from {opacity: .5}
to {opacity: 1}
}

/*-------------------------------BUTTONS-------------------------------*/
.slider button{
position: absolute; /* position an element relative to its parent */
top: 50%; /* positions at Y-axis 50; middle*/
transform: translateY( -50%); /* moving the buttons up by 50% of the element height*/
font-size: 2.5rem;
padding: 10px 15px;
color: blueviolet;
background-color: transparent;
border: none;
cursor: pointer;
}

.prevBtn{
left: 4%; /* align it to the left*/
}

.nextBtn{
right: 4%; /* align it to the right*/
}

#select{ 
  display: flex; /*without these it won't center*/
  flex-direction: column;
  align-items: center;
}

select{
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px; /* Adds some space between the select and the button */
}

#continueButton{
  background-color: #666666;
  border: 1px solid #38276f;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: black; /* font color */
}

#confirmBtn, #submitFormBtn{
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 85px;
  font-size: 1rem;
  }

#confirmBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  }

#submitFormBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  } 

#continueBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  } 
  
.paymentBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 20px;
    left: 22%;
  }
  
.paymentBtn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingBtn 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingBtn {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
.paymentBtn:hover:before {
    opacity: 1;
  }
  
.paymentBtn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }  

/*-------------------------------Headings & animations-------------------------------*/
h3 {
  font-family: Cambria;
  padding-top: 160px;
  text-align: center;
  font-size: 20px;
  animation: glow 5s linear infinite;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  animation: glow 5s linear infinite;
}

@keyframes glow {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

h1 {
  font-family: "Luckiest Guy", cursive;
  margin: 0;
  font-size: 4em;
  margin-bottom: 23px;
  text-align: center;
  color: rgb(221, 231, 229);
  span {
    transform: scale(0.9);
    display: inline-block;
  }
  span:first-child {
    animation: enlarge 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
  }
  span:last-child {
    animation: enlarge2 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
      infinite alternate;
  }
}

@keyframes enlarge {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes enlarge2 {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

#p1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  animation-name: fade;
  animation-duration: 6.5s;
  }

@keyframes fade {
 from {opacity: 0}
 to {opacity: 1}
}

#floating-line{
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;;
  font-weight: 400;
  font-size: 15px;
  font-variant: small-caps;
  cursor: pointer;
  animation: fadeIn 3s linear infinite; /* Fade in and out for 3 seconds, repeat infinitely */
}

@keyframes fadeIn {
 0% { opacity: 0; } /* Start with opacity 0 */
 50% { opacity: 1; } /* Peak opacity */
 100% { opacity: 0; } /* End with opacity 0 */
}

/*-------------------------------PopUp Window-------------------------------*/
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the element horizontally and vertically */
  background-color: black;
  padding: 20px;
  border: 2px solid thistle;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 500px;
  height: 500px;
  }

#popup video {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px; 
  max-width: 100%;
  max-height: 100%;
  }

/*-------------------------------Form Submission-------------------------------*/
#form {
  padding-top: 90px;
  margin-left: 33%; 
  margin-top: -1px;
  }

#form input[type="text"],
#form input[type="number"],
#form input[type="date"],
#selectTime
 {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  }

/*-------------------------------SeatSelection Window-------------------------------*/
#seatSelection {
  width: 400px;
  height: 500px;
  margin-left: 14%;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px; /* Add padding to ensure equal margin space */
  }

#screen {
  width: 100%;
  height: 60px;
  background-color: #463968;
  color: white;
  text-align: center;
  line-height: 65px;
  font-size: 30px;
  margin-bottom: 13px;
  }

.seat {
  width: 56px;
  height: 60px;
  background-color: #1dbac2;
  border-radius: 30px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  font-size: 1.2rem;
  }

.seat.selected {
  background-color: #66a23b ;
  }

.seat.booked {
  background-color: darkred;
  cursor: not-allowed; /* Change cursor to a warning sign */
  }